.maquina,
body {
    overflow: hidden
}

.btn-consulta,
.tabla-contenidos a {
    transition: .5s;
    text-decoration: none
}

.barra__enlace,
.btn-consulta,
.contenido-box,
.contenido-box a,
.flotante__whatsapp,
.sidebar-blog__enlaces,
.tabla-contenidos a,
.whatsapp-contactanos {
    text-decoration: none
}

@font-face {
    font-family: Raleway;
    src: url(../fuentes/Raleway-VariableFont_wght.ttf)
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    padding: 0;
    margin: 0;
    font-weight: 600 !important
}

html {
    overflow-x: hidden
}

.img-articulo,
.img-zona {
    max-height: 350px;
    /* object-fit: cover */
}

.contenido-box {
    background: #0e2758;
    color: #fff !important;
    font-weight: 700;
    gap: .2rem;
    padding: 1rem;
    width: 100%
}

.btn-consulta,
.footer-element ul li a:hover,
.tabla-contenidos a:hover {
    font-weight: 700 !important
}

.contenido-box__btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem
}

.contenido-box a {
    display: flex;
    color: #fff;
    width: 100%;
    border-radius: 0 0 12px 12px !important
}

.btn-consulta,
.img-servicios img,
.info-img,
.slider-problemas .carousel-inner .carousel-item,
.slider-problemas .carousel-inner .carousel-item img {
    border-radius: 12px
}

.flotante__whatsapp {
    display: none;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: end;
    width: fit-content;
    height: fit-content;
    gap: .5rem;
    position: fixed;
    right: 32px;
    bottom: 32px;
    z-index: 997
}

.card-ventas__imagen,
.info-img,
.tabla-contenidos {
    width: 100%
}

.slider-info,
body {
    position: relative
}

.whatsapp-flotante-img {
    animation: 1.5s infinite signalFlotante
}

.carousel-indicators [data-bs-target] {
    height: 25px !important;
    width: 25px !important;
    border-radius: 50%;
    margin-left: 4px !important;
    margin-right: 4px !important
}

.slider-info {
    width: 100%;
    display: flex;
    align-items: center !important;
    justify-content: center !important
}

.info-img {
    z-index: 1000
}

.district-info:not(.active),
.distritos-lima-desktop,
.dmca-badge img,
.input-info {
    display: none
}

.logo-sobreellas {
    width: 175px
}

.maquina {
    display: inline-flex;
    white-space: nowrap;
    width: 3ch;
    border-right: 3px solid transparent;
    animation: 3.5s steps(10) infinite typing;
    animation-delay: 1.5s
}

.ubicacion-distrito {
    border-top: 3px solid #e4e4e4;
    padding-bottom: 1.5rem
}

.btn-leermas__ubicaciones {
    width: fit-content
}

.btn-leermas__primary {
    font-size: 1.1rem !important;
    width: fit-content;
    border-radius: 12px;
    justify-content: flex-start !important;
    text-align: left !important
}

.btn-consulta,
.card-ventas__text h2,
.footer-element ul li,
.title-banner {
    text-align: center
}
.heading-banner__title::before,
.title-banner::before {
    content: "";
    width: 180px;
    height: 55px;
    z-index: -1;
    left: -5px;
    opacity: .8;
    position: absolute;
    display: flex
}

.title-banner {
    position: absolute;
    z-index: 997;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    max-width: 90%;
    color: #fff;
    font-size: 2rem
}
/* Experiencias */
.img-comunidad-experiencias{
    border-radius: 18px;
}
.img-principal__experiencias{
    display: flex;
    justify-content: center;
}
.img-principal__experiencias img{
    border-radius: 12px;
    max-width: 600px;
}
.title-banner-experiencias::before{
    content: "";
    width: 200px;
    height: 40px;
    z-index: -1;
    left: -5px;
    opacity: .8;
    position: absolute;
    display: flex;
    background: #e97195;
    top: -10px
}
.title-banner-experiencias{
    position: absolute;
    z-index: 997;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: #fff;
    font-size: 1.8rem;
    width: 97%;
    max-width: 450px;
}
.title-banner-blog::before{
    content: "";
    width: 288px;
    height: 50px;
    z-index: -1;
    left: -5px;
    opacity: .8;
    position: absolute;
    display: flex;
    background: #e97195;
    top: -4px
}
.title-banner-blog{
    position: absolute;
    z-index: 997;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    color: #fff;
    font-size: 2.3rem;
    width: 93%;
    max-width: 450px;
}
/* Footer Lista */
.ul-footer .li-footer{
    list-style: none !important;
}
.li-footer .enlace-footer{
    text-decoration: none !important;
}
@keyframes typing {
    from {
        width: 0
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 3.7rem
}

.main {
    background-color: #f5f9ff
}

b,
strong {
    color: #0e2758 !important
}

.wave {
    position: absolute;
    bottom: -10px
}

.hidden,
.img-articulo {
    opacity: 0
}

.img-zona {
    opacity: 40
}
.contenedor-webs-referencia{
    border-bottom: 1px solid #e2e2e2
}
.img-problemas-atraso{
    border-radius: 18px;
    width: 100%;
    max-width: 410px;
}

.img-titulos-atraso-menstrual{
    width: 100%;
    display: flex;
    justify-content: center;
}
.img-titulos-atraso-menstrual img{
    width: 100%;
    max-width: 650px;
}
.home-atraso-menstrual-title {
    font-size: 2.3rem
}

.title-principal-atraso-menstrual {
    position: absolute;
    top: calc(50% - 185px);
    color: #fff;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    height: fit-content;
    left: 0;
    z-index: 994
}

.title-principal-atraso-menstrual::before {
    content: "";
    background-color: #e97195;
    position: absolute;
    width: 100px;
    height: 50px;
    z-index: -1
}

.btn-equipo,
.btn-sobre-atraso-menstrual {
    animation: 1.5s infinite signalEquipo
}

.btn-atraso-menstrual:hover {
    color: #fff;
    transform: scale(1.1)
}

.atraso-menstrual-contacto-box,
.atraso-menstrual-proposito,
.section-border {
    border-top: 2px solid #e2e2e2
}

.atraso-menstrual-proposito-title {
    font-size: 2.2rem
}

.atraso-menstrual-contacto-title,
.ubicaciones-h2-principal,
.ubicaciones-zona-subtitle {
    font-size: 2rem
}

.atraso-menstrual-contacto__arrow {
    display: flex;
    justify-content: center;
    align-items: center
}

.atraso-menstrual-contacto__arrow img {
    width: 65px;
    animation: 2s infinite arrowJump
}

@keyframes arrowJump {

    0%,
    100% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(12px)
    }
}

.btn-consulta {
    background-color: #fff;
    color: #0e2758;
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: .5rem;
    align-items: center;
    width: fit-content;
    border: 2px solid
}

.btn-consulta:hover {
    border-radius: 0;
    color: #0e2758
}

.btn-consulta img {
    width: 40px
}

.experiencia-box {
    justify-content: center;
    align-items: center
}

.texto-experiencia-quote {
    position: relative !important;
    background: #fff;
    border-radius: 12px;
    padding: 52px 32px
}

.rigth-quote {
    position: absolute;
    bottom: 50px;
    right: 25px !important;
    transform: rotate(180deg)
}

.left-quote {
    position: absolute;
    left: 10px;
    top: 10px
}

.texto-experiencia-quote::before {
    content: ""
}

.btn-experiencias-box,
.nav__li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.btn-experiencias {
    animation: 3s infinite btnExperiencias
}

.seccion-experiencias__element img {
    border-radius: 0 0 12px 12px;
    width: 100%
}

.heading-banner__ubicaciones {
    font-size: 2.4rem !important
}

.box-banner__ubicaciones {
    top: calc(50% - 45px) !important
}

.ubicaciones-zonas-title {
    color: #fff;
    border-radius: 18px;
    background: #e97195;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.ubicaciones-zonas-title a,
.ubicaciones-zonas-title a:hover {
    color: #fff;
    text-decoration: none
}

@keyframes btnExperiencias {

    0%,
    100%,
    50%,
    75% {
        transform: rotateZ(0)
    }

    21%,
    7% {
        transform: rotateZ(-3deg)
    }

    14% {
        transform: rotateZ(3deg)
    }

    28% {
        transform: rotateZ(2deg)
    }

    35% {
        transform: rotateZ(-1deg)
    }
}

.card-ventas__enlace,
.tabla-contenidos-box {
    width: 100%;
    display: flex;
    justify-content: center
}

.tabla-contenidos {
    border: 2px solid #0e2758;
    border-radius: 0 0 12px 12px;
    padding: 1.5rem 1.5rem 1.5rem 1rem
}

.tabla-contenidos li {
    margin-left: 1rem;
    padding-left: 0
}

.tabla-contenidos a {
    color: #0e2758
}

.tabla-contenidos__enlace {
    font-size: .9rem
}
/* blog */
.enlaces-content__blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.articulos-enlaces{
    width: 100%;
}
.blog-card__text{
    padding: 14px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.sidebar-blog__enlaces {
    transition: 1s
}

.sidebar-blog__enlaces p {
    background-color: #0e2758 !important;
    color: #fff;
    border-radius: 12px;
    font-size: 20px !important;
    transition: .5s;
    border: 2px solid #fff
}

.sidebar-blog__enlaces:hover p {
    background-color: #fff !important;
    border: 2px solid #0e2758;
    color: #0e2758 !important;
    border-radius: 0
}

.sidebar-blog__enlaces:hover .sidebar-blog__img {
    border-radius: 0 !important
}

.sidebar-blog__img {
    border-radius: 6px;
    transition: .5s
}

.barra__enlace,
.enlace-whatsapp__flotante .boton-whatsapp__img,
.nav-principal {
    transition-duration: .3s
}

.card-title a {
    color: #113885 !important
}

.container-px-1 {
    padding-left: 12px !important;
    padding-right: 12px !important
}

.whatsapp-contactanos {
    color: #fff;
    display: flex;
    width: 250px;
    justify-content: end;
    align-items: center;
    position: relative
}

.boton-whatsapp-prinpicipal:hover,
.contactanos-footer:hover,
.whatsapp-contactanos:hover {
    color: #fff
}

.btn-contactanos,
.btn-contactanos:hover {
    color: var(--bs-white)
}

.whatsapp-contactanos__img {
    width: 100px;
    position: absolute;
    left: -5px
}

.whatsapp-contactanos__text {
    width: 68%;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #74b970;
    padding: 5px 0;
    margin: 0;
    border-radius: 0 12px 12px 0;
    letter-spacing: .5px
}

.barra,
.btn-contactanos {
    background: var(--bs-nomebaja-magenta)
}

.whatsapp-contactanos__text span {
    display: flex;
    width: 100%;
    font-size: 18px;
    letter-spacing: 0;
    justify-content: center
}

.num-whatsapp {
    animation: 3s infinite numWhatsapp
}

@keyframes numWhatsapp {

    0%,
    100%,
    20%,
    40%,
    60%,
    80% {
        transform: rotate(0)
    }

    10% {
        transform: rotate(9deg)
    }

    30% {
        transform: rotate(7deg)
    }

    50% {
        transform: rotate(5deg)
    }

    70% {
        transform: rotate(3deg)
    }
}

@keyframes signalEquipo {
    0% {
        box-shadow: 0 0 0 0 #e97195
    }

    100% {
        box-shadow: 0 0 0 11px transparent
    }
}

.container-px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important
}

@media screen and (min-width:768px) {
    .ul-footer .li-footer{
        list-style: none !important;
    }
    .li-footer .enlace-footer{
        text-decoration: none !important;
    }
    .flotante__whatsapp {
        display: flex;
        gap: .9rem
    }

    .whatsapp-flotante-img {
        width: 70px
    }

    .logo-sobreellas {
        width: 175px !important
    }

    .title-banner::before {
        top: 0 !important
    }

    .proposito-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center
    }

    .title-banner {
        bottom: 30px !important;
        font-size: 3rem !important;
        width: 500px;
    }
    .title-banner-experiencias::before{
        content: "";
        width: 250px;
        height: 50px;
        z-index: -1;
        left: -5px;
        opacity: .8;
        position: absolute;
        display: flex;
        background: #e97195;
        top: 0;
    }
    .title-banner-experiencias{
        position: absolute;
        z-index: 997;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 2.7rem;
        width: 97%;
        max-width: 500px;
    }
    .title-banner-blog::before{
        content: "";
        width: 350px;
        height: 50px;
        z-index: -1;
        left: -5px;
        opacity: .8;
        position: absolute;
        display: flex;
        background: #e97195;
        top: -4px
    }
    .title-banner-blog{
        position: absolute;
        z-index: 997;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 2.8rem;
        width: 93%;
        max-width: 550px;
    }
    .btn-equipo {
        animation: 1.5s infinite signalEquipo
    }

    @keyframes signalEquipo {
        0% {
            box-shadow: 0 0 0 0 #e97195
        }

        100% {
            box-shadow: 0 0 0 12px transparent
        }
    }

    .carousel-p {
        font-size: 1.2rem !important
    }
    /* BLOG */
    /* blog */
.enlaces-content__blog{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.articulos-enlaces{
    width: 48%;
}
}

@media screen and (min-width:992px) {
    .ul-footer .li-footer{
        list-style: none !important;
    }
    .li-footer .enlace-footer{
        text-decoration: none !important;
    }
    .ubicacion-distrito {
        border-top: 3px solid #e4e4e4;
        padding-bottom: 2rem
    }

    .logo-sobreellas {
        width: 180px !important
    }

    .ubicaciones-element-1 {
        width: 60%
    }

    .articulos-enlace {
        width: 40%
    }

    .nuestras-ubicaciones__zonas {
        gap: 1rem
    }

    .title-banner {
        bottom: -30px !important;
        font-size: 3.5rem !important;
        max-width: 500px !important;
        /* background-color: red; */
    }
    .title-banner-experiencias::before{
        content: "";
        width: 300px;
        height: 50px;
        z-index: -1;
        left: -5px;
        opacity: .8;
        position: absolute;
        display: flex;
        background: #e97195;
        top: 0;
    }
    .title-banner-experiencias{
        position: absolute;
        z-index: 997;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        color: #fff;
        font-size: 3rem;
        width: 97%;
        max-width: 600px;
    }
    .title-banner-blog::before{
        content: "";
        width: 440px;
        height: 62px;
        z-index: -1;
        left: -5px;
        opacity: .8;
        position: absolute;
        display: flex;
        background: #e97195;
        top: 0px
    }
    .title-banner-blog{
        position: absolute;
        z-index: 997;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 3.5rem;
        width: 93%;
        max-width: 750px;
        text-align: center;
    }
    .carousel-p {
        font-size: 1.3rem !important
    }
    .enlaces-content__blog{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .articulos-enlaces{
        width: 48%;
    }
    .btn-articulo{
        display: flex;
        padding: 8px 30px !important;
    }
}

.btn-contactanos {
    font-size: 1.2rem;
    padding: .5rem;
    border-radius: 12px;
    font-weight: 700
}

.barra {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 998
}

.barra__mobile {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 12px;
    height: 100%
}

.boton__barra {
    min-width: 100px;
    position: relative;
    top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.boton-whatsapp__enlace {
    position: relative;
    font-size: .8rem;
    color: #fff !important;
    animation: 3s infinite whatsappBarra
}

.boton-whatsapp__enlace span strong {
    color: #fff !important
}

@keyframes whatsappBarra {

    0%,
    100% {
        transform: scale(1)
    }

    35% {
        transform: scale(1.1)
    }
}

.boton-preguntas__enlace,
.boton-zonas__enlace {
    font-size: .6rem;
    font-weight: 700
}

.boton-preguntas__enlace:hover,
.boton-whatsapp__enlace:hover,
.boton-zonas__enlace:hover {
    color: #fff;
    transform: scale(1.1)
}

.boton-whatsapp__img {
    width: 67px
}

.boton-preguntas__img,
.boton-zonas__img {
    width: 32px
}

.header,
.header__content {
    width: 100%;
    padding: 0 !important
}

.barra__enlace {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    gap: 6px;
    letter-spacing: .5px
}

img {
    max-width: 100%;
    /* object-fit: cover */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    box-shadow: rgba(0, 0, 0, .15) 1.95px 1.95px 2.6px;
    z-index: 999;
    background-color: #fff
}

.header__content {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.hamburger-box {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 70px !important;
    height: 45px !important;
    border-radius: 3px;
    margin-right: 1rem;
    padding: 0 !important
}

.nav-principal {
    position: absolute;
    top: 100%;
    right: 0;
    width: 320px;
    min-height: 500px;
    height: 65vh;
    padding: 0;
    background-color: var(--bs-white);
    box-shadow: rgba(149, 157, 165, .2) 0 8px 24px;
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    z-index: 999;
    border-width: 0 3px 3px;
    border-style: solid;
    border-color: #0e2758;
    border-radius: 0 0 12px 12px
}

.nav-active {
    display: none;
    opacity: 1;
    visibility: visible;
    transform: translateX(0)
}

.nav__ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none
}

.contactanos-footer,
.nav__enlace {
    width: fit-content;
    display: flex;
    text-decoration: none;
    list-style: none;
}

.nav__enlace {
    margin-bottom: .5rem;
    padding: 22px 18px;
    border-radius: 6px 6px 0 0;
    height: 60px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 19px;
    border-bottom: 3px solid #0e2758;
    color: #0e2758;
    transition-duration: .2s;
    font-weight: 700;
    list-style: none  !important;
    text-decoration: none !important;
}

.nav__enlace:hover {
    color: #0e2758;
    font-weight: bolder;
    background-color: #c7c7c7
}

.nav__enlace img {
    width: 35px
}
.banner-zona{
    min-height: 350px;
}
.img-zona{
    min-height: 350px;
}
.banner-articulo .container,
.banner-zona .container,
.footer,
.footer .container {
    position: relative
}

.banner-principal:before,
.banner-section:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #000
}

.contactanos-footer {
    background-color: #0e2758;
    margin: 0 auto 1rem;
    padding: 12px 24px;
    color: #fff;
    font-weight: bolder;
    border-radius: 12px;
    animation: 1s infinite signalContacto
}

@keyframes signalContacto {
    0% {
        box-shadow: 0 0 0 0 #0e2758
    }

    100% {
        box-shadow: 0 0 0 11px transparent
    }
}

.footer-content-box {
    border-top: 1px solid #e7e7e7
}

.footer-content .footer-element:first-child,
.footer-content .footer-element:nth-child(2) {
    border-bottom: 1px solid #e2e2e2
}

.footer-element ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.footer-element ul li {
    width: 100%
}

.footer-element ul li a {
    text-decoration: none;
    color: #2f3954;
    transition: .5s
}

.enlace-whatsapp__flotante {
    position: fixed;
    right: 32px;
    bottom: 32px;
    display: none;
    z-index: 998;
    animation: 1.5s infinite signalFlotante;
    border-radius: 50%
}

@keyframes signalFlotante {

    0%,
    100% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.05)
    }
}

.btn-scroll {
    width: 55px;
    height: 56px;
    background-color: #0e2758;
    opacity: .8;
    border-radius: 50%;
    border: none;
    outline: 0;
    position: fixed;
    bottom: 95px;
    right: 15px;
    z-index: 1000;
    transition: .5s
}

.banner-section,
.banner-section img,
.banner-section:before {
    border-radius: 0 0 18px 18px
}

.enlace-whatsapp__flotante:hover .boton-whatsapp__img {
    width: 72px
}

.heading-banner {
    position: relative;
    display: flex;
    justify-content: center
}

.banner-section {
    position: relative;
    width: 100%
}

.banner-section:before {
    width: 100%;
    opacity: .4
}

.banner-principal {
    margin: 0;
    position: relative;
    padding: 0;
    max-height: 800px
}

.banner-principal:before {
    width: 100%;
    opacity: .6
}

/* .icono-call,
.icono-info {
    position: relative;
    left: -50px;
    transition: .5s
}

.icono-chat {
    left: -50px !important;
    animation: 10s ease-in-out infinite iconoChat
}
.icono-info {
    animation: 10s ease-in-out infinite iconoInfo
}

.icono-call {
    animation: 10s ease-in-out infinite iconoCall
} */

@keyframes iconoChat {
    0% {
        left: -50px;
        opacity: 0
    }

    100%,
    20%,
    300%,
    400%,
    50%,
    60%,
    70%,
    80%,
    90% {
        left: 0;
        opacity: 1
    }
}

@keyframes iconoInfo {

    0%,
    5% {
        left: -50px;
        opacity: 0
    }

    100%,
    25% {
        left: 0;
        opacity: 1
    }
}

@keyframes iconoCall {

    0%,
    10% {
        left: -50px;
        opacity: 0
    }

    100%,
    30% {
        left: 0;
        opacity: 1
    }
}

.titulo-principal {
    font-size: 23px !important;
}
.titulo-principal-h1{
    font-size: 36px !important;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-item .banner-desktop,
.whatsapp-enlace-slider {
    display: none !important
}

.banner-articulo::before,
.banner-zona::before {
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.banner-articulo,
.banner-zona {
    position: relative;
    width: 100%
}

.banner-zona::before {
    background: rgba(15, 15, 15, .6)
}
.banner-zona-ubicaciones::before {
    background: rgba(15, 15, 15, .4)
}

.banner-principal__texto {
    top: calc(50% - 215px);
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute
}

.boton-whatsapp-prinpicipal {
    background: #e97195;
    color: #fff;
    padding: 12px;
    text-decoration: none;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-weight: 700 !important
}

.heading-banner__title::before {
    background: #e97195;
    top: 12px
}

.title-banner::before {
    background: #e97195;
    top: -15px
}

.box-banner__title-articulos {
    top: calc(55% - 75px);
    position: absolute;
    width: 100%
}

.carousel-item .banner-mobile {
    display: initial !important
}

.carousel-p {
    font-size: 1.1rem
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 1.3rem !important
}

.carousel-control-prev-icon {
    margin-right: 3px !important
}

.carousel-control-next-icon {
    margin-left: 3px !important
}

.carousel-control-prev {
    left: 2% !important
}

.carousel-control-next {
    right: 2% !important
}

.barra-p {
    padding: .2rem .5rem;
    margin: 0;
    font-weight: 700;
    width: fit-content
}

.barra-slider--enlace {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: center;
    width: 100%
}

.nav-tabs>.active {
    color: #fff !important;
    font-weight: bolder
}

.card-ventas {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 1rem
}

.card-ventas__text {
    width: 100%;
    display: flex;
    flex-direction: column
}

.info-section {
    border-radius: 18px;
}

@media screen and (min-width:768px) {

    .banner-section,
    .banner-section img,
    .banner-section:before {
        border-radius: 0 0 36px 36px
    }

    .btn-scroll {
        right: 39px;
        bottom: 115px
    }

    .banner-principal__content {
        max-width: 900px !important
    }

    .titulo-principal {
        font-size: 38px !important; 
    }
    .titulo-principal-h1{
        font-size: 46px !important;
    }
    .banner-principal__content p,
    .boton-whatsapp-prinpicipal {
        font-size: 18px
    }

    .banner-mobile {
        display: none
    }

    .banner-tablet {
        display: block
    }

    .box-banner__title {
        top: calc(50% - 110px);
        position: absolute;
        width: 100%
    }

    .heading-banner__title {
        font-size: 3.3rem;
        z-index: 990;
        width: 80%;
        max-width: 600px;
        text-align: left
    }

    .heading-banner__title::before {
        width: 275px;
        height: 75px;
        background: #e97195;
        opacity: .8
    }

    .box-banner__title-articulos {
        top: calc(55% - 125px);
        position: absolute;
        width: 100%
    }

    .heading-banner__title-articulos {
        font-size: 3.5em;
        z-index: 990;
        width: 100%;
        max-width: 440px;
        text-align: left;
        position: relative
    }

    .heading-banner__title-articulos::before {
        width: 275px;
        height: 75px;
        background: #e97195;
        top: 15px
    }

    .banner-secundario-mobile {
        width: 100%;
        display: none
    }

    .banner-secundario-tablet {
        width: 100%;
        display: block;
        max-height: 500px
    }

    .barra-p {
        display: initial;
        font-size: 1.1rem
    }

    .barra-slider--enlace {
        width: 70%;
        justify-content: flex-start
    }

    .barra {
        display: none
    }

    .slider-principal {
        position: relative;
        min-height: 300px;
        height: 75vh !important;
        max-height: 450px !important;
        border-radius: 55px
    }

    .carousel-caption .btn-equipo {
        font-size: 1.2rem;
        margin-bottom: 1rem !important
    }

    .dmca-badge img,
    .enlace-whatsapp__flotante,
    .whatsapp-enlace-slider {
        display: initial
    }

    .carousel-item .banner-mobile {
        display: none !important
    }

    .carousel-item .banner-desktop {
        display: initial !important
    }

    .nav-principal {
        min-height: 500px;
        align-items: center
    }

    .nav__ul {
        padding-top: 0
    }

    .footer {
        margin-top: auto
    }

    .footer-content {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center
    }

    .footer-element {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #e2e2e2
    }

    .footer-element ul {
        align-items: center;
        display: flex;
        flex-direction: column
    }
}

@media screen and (min-width:992px) {


    
    .atraso-menstrual-title-principal br,
    .card-ventas__text h2,
    .heading-banner__title {
        text-align: left
    }

    .atraso-menstrual-title-principal {
        color: #0e2758 !important;
        font-size: 4rem !important;
        display: flex;
        justify-content: flex-start !important;
        background: #f5f9ff;
        width: fit-content;
        padding: 0 100px 0 24px;
        margin: 0;
        border-radius: 0 0 100px
    }

    .title-atraso-menstrual {
        width: 100%;
        position: relative
    }

    .title-atraso-menstrual::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        background-color: #0e2758 !important;
        border-radius: 0 12px 12px 0
    }

    .atraso-menstrual-title-principal::before,
    .nav__enlace img {
        display: none
    }

    .nav-principal {
        border-width: none;
        border-style: none;
        border-color: none;
        border-radius: none
    }

    .tabla-contenidos {
        padding: 2rem 3.5rem
    }

    .sidebar-blog__enlaces p {
        background-color: #e97195;
        border-radius: 12px;
        font-size: 18px !important
    }

    .titulo-principal {
        font-size: 42px !important;
    }
    .titulo-principal-h1{
        font-size: 48px !important;
    }
    .banner-principal__texto {
        top: calc(50% - 205px);
        position: absolute
    }

    .banner-principal__content p {
        font-size: 17px
    }

    .subtitulos-primarios {
        font-size: 52px
    }

    .carousel-item .banner-mobile,
    .hamburger-box {
        display: none !important
    }

    .slider-principal {
        position: relative;
        min-height: 300px;
        height: 90vh !important;
        max-height: 475px !important;
        border-radius: 55px
    }

    .nav-principal,
    .nav__ul {
        background-color: var(--bs-white);
        height: 100%
    }

    .nav-principal {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        position: initial;
        box-shadow: none;
        min-height: initial;
        width: 800px
    }

    .nav__ul {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap;
        align-items: center;
        padding-top: initial;
        gap: .2rem
    }

    .nav__enlace--active,
    .nav__enlace:hover {
        background-color: #e97195;
        color: var(--bs-white)
    }

    .nav__li {
        width: auto
    }

    .nav__enlace {
        justify-content: center;
        border-bottom: none;
        border-width: 3px;
        gap: 3px;
        height: 40px;
        width: calc(100% + 50px);
        font-size: 17px;
        padding: 10px 14px;
        border-radius: 3px;
        transition-duration: .3s;
        margin-bottom: 0
    }

    .nav__enlace--active {
        animation: 4s 2s infinite menuActive
    }

    @keyframes menuActive {

        0%,
        100%,
        50%,
        75% {
            transform: rotateZ(0)
        }

        21%,
        7% {
            transform: rotateZ(-3deg)
        }

        14% {
            transform: rotateZ(3deg)
        }

        28% {
            transform: rotateZ(2deg)
        }

        35% {
            transform: rotateZ(-1deg)
        }
    }

    .nav__enlace--active:hover {
        color: var(--bs-white)
    }

    .carousel-caption .titulo-slider {
        font-size: 3.4rem !important
    }

    .btn-equipo {
        font-size: 1.5rem;
        animation: 1.5s infinite signalEquipo
    }

    @keyframes signalEquipo {
        0% {
            box-shadow: 0 0 0 0 #e97195
        }

        100% {
            box-shadow: 0 0 0 15px transparent
        }
    }

    .carousel-item .banner-desktop {
        display: initial !important
    }

    .card-ventas {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row
    }

    .card-ventas__imagen {
        width: 35%
    }

    .card-ventas__text {
        width: 60%;
        display: flex;
        flex-direction: column
    }

    .card-ventas__enlace {
        width: 100%;
        display: flex;
        justify-content: center
    }

    .box-banner__title {
        top: calc(50% - 110px);
        position: absolute;
        width: 100%
    }

    .heading-banner__title {
        font-size: 2.9rem;
        z-index: 990;
        width: 80%;
        max-width: 750px
    }

    .box-banner__title-articulos {
        top: calc(55% - 110px);
        position: absolute;
        width: 100%
    }

    .heading-banner__title-articulos {
        font-size: 3.3em;
        z-index: 990;
        width: 100%;
        max-width: 440px;
        text-align: left;
        position: relative
    }

    .heading-banner__title-articulos::before {
        width: 275px;
        height: 75px;
        background: #e97195;
        top: 15px
    }

    .seccion-experiencias__content {
        display: flex;
        gap: 1rem;
        justify-content: center;
        flex-wrap: wrap
    }

    .seccion-experiencias__element {
        width: 45%
    }

    .footer-element {
        width: 32%;
        border-top: 1px solid #e2e2e2
    }
    .atraso-menstrual-contacto-title,
.ubicaciones-h2-principal,
.ubicaciones-zona-subtitle {
    font-size: 2.5rem
}

}

@media screen and (min-width:1200px) {
    .ul-footer .li-footer{
        list-style: none !important;
    }
    .li-footer .enlace-footer{
        text-decoration: none !important;
    }
    .btn-scroll {
        right: 45px;
        bottom: 130px
    }

    .flotante__whatsapp {
        display: flex;
        gap: 1rem
    }

    .whatsapp-flotante-img {
        width: 80px
    }

    .realiza-consulta {
        padding: 8px 12px !important
    }

    .doctoraWhatsapp {
        width: 165px
    }

    .logo-sobreellas {
        width: 185px !important
    }

    .title-principal-atraso-menstrual {
        position: absolute;
        top: -175px;
        color: #fff;
        text-align: center;
        width: 100%;
        left: 0;
        font-size: 5rem
    }

    .title-banner::before {
        top: 5px !important
    }

    .proposito-content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap !important;
        justify-content: space-evenly;
        align-items: center;
        gap: 1.5rem
    }

    .title-banner {
        bottom: -30px !important;
        font-size: 3.5rem !important;
        max-width: 650px !important
    }
    .title-banner-experiencias::before{
        content: "";
        width: 350px;
        height: 60px;
        z-index: -1;
        left: -5px;
        opacity: .8;
        position: absolute;
        display: flex;
        background: #e97195;
        top: 0;
    }
    .title-banner-experiencias{
        position: absolute;
        z-index: 997;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -28%);
        color: #fff;
        font-size: 3.5rem;
        width: 97%;
        max-width: 650px;
    }
    .carousel-control-next,
    .carousel-control-prev {
        display: initial !important
    }

    button.carousel-control-next,
    button.carousel-control-prev {
        width: 50px;
        display: initial !important
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 2rem !important
    }

    button.carousel-control-prev {
        left: 10px !important
    }

    button.carousel-control-next {
        right: 10px !important
    }

    .banner-principal__texto {
        padding-left: 5.1rem !important
    }

    .titulo-principal {
        font-size: 48px !important;
    }
    .titulo-principal-h1{
        font-size: 58px !important;
    }
    .banner-principal__content p {
        font-size: 20px
    }

    .sidebar-blog__enlaces p {
        background-color: #e97195;
        border-radius: 6px;
        font-size: 20px !important
    }

    .heading-banner__title {
        font-size: 3.5rem
    }

    .heading-banner__title::before {
        width: 325px;
        height: 85px;
        background: #e97195;
        opacity: .8
    }

    .box-banner__title-articulos {
        top: calc(55% - 125px);
        position: absolute;
        width: 100%
    }

    .heading-banner__title-articulos {
        font-size: 3.7rem;
        z-index: 990;
        width: 100%;
        max-width: 440px;
        text-align: left;
        position: relative
    }

    .heading-banner__title-articulos::before {
        width: 275px;
        height: 75px;
        background: #e97195;
        top: 15px
    }

    .carousel-p {
        font-size: 1.3rem !important
    }

    .seccion-experiencias__element {
        width: 32%
    }
    .nuestras-ubicaciones__zonas {
        gap: 3rem
    }
}

@media screen and (min-width:1400px) {
    .title-principal-atraso-menstrual::before {
        width: 160px;
        height: 75px
    }

    .title-principal-atraso-menstrual {
        font-size: 4.5rem !important;
        top: calc(50% - 220px)
    }

    .nav__enlace {
        padding: 10px 18px
    }

    .btn-leermas__primary {
        font-size: 1.2rem !important
    }

    h2 {
        font-size: 46px !important
    }

    .titulo-principal {
        font-size: 62px
    }

    .boton-whatsapp-prinpicipal {
        font-size: 20px
    }

    .banner-principal__content p {
        font-size: 22px
    }

    .banner-principal__content img {
        width: 56px;
        margin-right: .1rem
    }

    .banner-principal__texto {
        top: calc(50% - 250px);
        position: absolute
    }
}

.district-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 5px
}

.district-button.active {
    background-color: #0056b3
}

.slider-inicio__img {
    min-height: 610px !important
}